/* Import goggle font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Package imports */
@import 'tailwindcss';
@plugin "daisyui";

/* Theme related setting */
@custom-variant dark (&:where(.dark, .dark *));

/* Font Setting */
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Website reusable colors */
@theme {
  --color-text-primary: #05264e;
  --color-text-copy: #343a46;
  --color-dark-primary: #e5e7eb;
  --color-dark-accent: #93abf9;
  --color-light-accent: #3c65f9;
  --color-bg: #1c2027;
  --color-section-bg: #21252c;
}
